* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #D4ECFF;
    margin: 0 auto;
    position: relative;
    display: block;
    font-family: 'Spectral', serif;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* ОБЛОЖКА */
h1 {
    position: absolute;
    top: 61px;
    left: 60px;
    z-index: 1;
    color: #FFF;
    font-size: 200px;
    font-style: normal;
    font-weight: 800;
    line-height: 90%;
    margin: 0;
}

.main_screen {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    height: 960px;
    background-image: url('../images/light.svg');
    background-size: cover;
    background-position: center;
    background-color: #D4ECFF;

}
.main_screen span:nth-of-type(2) {
    padding-left: 200px;
}

/* 1 БЛОК "О ШРИФТЕ" */
.about_font {
    display: flex;
    height: 826px;
    background-color: #D4ECFF;
    overflow: visible;
    z-index: 2;
}

.ship img {
    height: 826.5px;
    margin-top: 70px;
}

.about_content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0px;
    margin-top: 100px;
    
}
.title {
    width: 488px;
    height: 157px;
    box-sizing: border-box;
    background: url("../images/under.svg") no-repeat 0 0 / 100% 100%;
    padding: 36px 152px 30px 172px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: -10px;
    margin-bottom: 40px;
    flex: none;
    align-self: flex-end;
}

.title_text {
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: -1.2px;
    margin: 0;

}

.sub {
    width: 200px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    margin: 0;
}
.text-blocks {
    width: 457px;
    color: #02304A;
    font-size: 22px;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: 0;
}

.text-blocks p {
    margin: 0;
}

/* 2 БЛОК С ГЛИФАМИ */
.glyphs {
    background: #D4ECFF;
}

.glyphs__bar {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.glyphs__bar .text-blocks {
    width: 800px;
    color: #02304A;
    font-size: 22px;
    line-height: 120%;
    padding-left: 50px;
    padding-right: 160px;
    margin-top: 200px;
}

.glyphs__bar .about_content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 190px;
    margin-right: 50px;
}

.glyphs__bar .about_content .title {
    width: 488px;
    height: 157px;
    box-sizing: border-box;
    padding: 36px 152px 30px 172px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.glyphs__bar .about_content .title_text {
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: -1.2px;
    margin: 0;
}

.glyphs__bar .about_content .sub {
    color: rgba(255, 255, 255, 0.7);
    font-size: 60px;
    font-weight: 500;
    line-height: 54px;
    margin: 0;
    width: 200px;
}
.glyphs_ticket {
    position: relative;
    width: 1340px;
    height: 654.386px;
    margin: 30px auto 0;
    background: #D4ECFF;
}
.glyphs_ticket img {
    max-width: none;
    display: block;
}
.glyphs_ticket .b1 {
    position: relative;
    width: 1340px;
    height: 654.386px;
    margin: 0 auto;
    background: url("../images/ticket.svg") no-repeat center / cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.glyphs_ticket .txt {
    position: absolute;
    inset: 0;
    z-index: 2;
    color: #450809;
    margin: 0;
}

.t1,
.t2 {
    position: absolute;
    white-space: nowrap;
    z-index: 2;
    color: #450809;
    margin: 0;
    line-height: 0.9;

}

.t1 {
    top: 37.65px;
    left: 235.63px;
    font-size: 99.364px;
    font-weight: 800;
    letter-spacing: -3.975px;
}


.t2 {
    top: 141.27px;
    left: 235.63px;
    font-size: 56.78px;
    font-weight: 600;
    letter-spacing: -2.271px;
}

.label {
    color: #450809;
    font-size: 32.194px;
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -1.288px;
    display: inline;
    margin-right: 10px;
}

.sample {
    color: #450809;
    font-size: 18.029px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: -0.721px;
    position: relative;
    display: inline-block;
    
}
.footer {
    color: #450809;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 98%;
    width: 1080px;
}
.ticket_img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1340px;
    width: auto;
    transform: translate(-50%, -50%) rotate(-90deg);
    transform-origin: center;
    z-index: 1;
}

.rows {
    position: absolute;
    left: 244.75px;
    top: 252.69px;
    display: flex;
    flex-direction: column;
    gap: 24.66px;
    z-index: 2;
}

.row {
    display: flex;
    align-items: flex-start;
    gap: 6.07px;
    margin: 0;
}
.row .sample {
    position: relative;
    top: 3.86px;
}
.footer {
    position: absolute;
    top: 552px;
    left: 244.75px;
    right: 16px;
    margin: 0;

    color: #450809;
    font-family: 'Spectral', serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 0.98;

    overflow: hidden;
    text-overflow: clip;
}
.sample::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3.32px;
    width: 100%;
    height: 1px;
    background-color: #450809;
}


.frac {
    font-variant-numeric: diagonal-fractions;
    
}
.sup-up {
    font-size: 0.62em;
    vertical-align: 0.45em;
   
}

.sub-down {
    font-size: 0.62em;
    vertical-align: -0.15em;

}


.langs {
    background: #D4ECFF;
}

.langs__bar {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.langs__bar .text-blocks {
    width: 800px;
    color: #02304A;
    font-size: 22px;
    line-height: 120%;
    padding-left: 50px;
    padding-right: 160px;
    margin-top: 254px;

}

.langs__bar .about_content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 227px;
    margin-right: 50px;
}

.langs__art {
    width: 1440px;
    margin: 22px auto 0;
}

.langs_img {
    display: block;
    width: 1426px;
    height: auto;
    margin: -70px auto 0;
}

.anatomy {
    background: #D4ECFF;
    width: 1440px;
    margin: 220px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.anatomy .text-blocks {
    width: 800px;
    color: #02304A;
    font-size: 22px;
    line-height: 120%;
    text-wrap: balance;
    padding-left: 50px;
    margin-top: 60px;
}

.anatomy .about_content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 50px;
    margin-top: 26px;
}


.anatomy-map .map-wrap {
    position: relative;
    width: 1426px;
    height: 891px;
    margin: 22px auto 0;
}

.anatomy-map .map-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cap {
    position: absolute;
    color: #450809;
    font-size: 24.392px;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -0.976px;
    white-space: nowrap;
}

.main {
    top: 262.94px;
    left: 290.34px;
}

.half {
    top: 627.53px;
    left: 324.93px;
}

.drop {
    top: 280.04px;
    left: 687.37px;
}

.aperture {
    top: 441.41px;
    left: 596.26px;
}

.blob {
    top: 556.25px;
    left: 805.21px;
}

.accent {
    right: 400px;
    bottom: 215px;
}

.conn {
    top: 412.7px;
    left: 980.49px;
    width: 220px;
    white-space: normal;
}

.serif {
    top: 180.5px;
    left: 1006.24px;
}

/* ЛИГАТУРЫ */
.ligatures {
    background: #D4ECFF;
    width: 1440px;
    margin: 180px auto 0;
    height: 235px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 2;
}

.ligatures .text-blocks {
    width: 800px;
    color: #02304A;
    font-size: 22px;
    line-height: 120%;
    padding-left: 50px;
    padding-right: 160px;
    margin-top: 80px;
}

.ligatures .about_content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 40px;
    margin-right: 50px;
}

.weights {
    position: relative;
    width: 1440px;
    margin: 100px auto 0;
    background: #D4ECFF;
    overflow: hidden;
    z-index: 1;
}

.canvas {
    position: relative;
    width: 1932.44px;
    height: 2828.91px;
    margin: 0;
    left: 0;
}

/* сама картинка */
.weights_img {
    position: absolute;
    left: -230px;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

.weights .text-blocks {
    position: absolute;
    top: 1126px;
    left: 50px;
    width: 460px;

    color: #02304A;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.8px;

    z-index: 5;
}

.weights .text-blocks p {
    margin: 0;
}

.weights .about_content {
    position: absolute;
    top: 1000px;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 5;
}

/* подписи под лигатурами */
.ligs {
    position: absolute;
    inset: 0;
    z-index: 2;
    color: #02304A;
    font-size: 22px;
    font-weight: 600;
    line-height: 90%;
    letter-spacing: -0.88px;
}

.ligs>div {
    position: absolute;
    white-space: nowrap;
}

.lig1 {
    top: 420px;
    left: 148px;
}

.lig2 {
    top: 420px;
    left: 584px;
}

.lig3 {
    top: 420px;
    left: 1041px;
}

.lig4 {
    top: 865px;
    left: 170px;
}

.lig5a {
    top: 865px;
    left: 656px;
}

.lig5b {
    top: 865px;
    left: 824px;
}

.lig6 {
    top: 865px;
    left: 1104px;
}

/* подписи на рыбах*/
.fishes>div {
    position: absolute;
    color: #ACD1FF;
    line-height: 90%;
    transform-origin: 50% 50%;
    z-index: 4;
}
/* Extra Light */
.fish1 {
    top: 1890px;
    left: 250px;
    font-size: 82.373px;
    font-weight: 275;
    transform: rotate(15deg);
}

/* Light */
.fish2 {
    top: 2000px;
    left: 1130px;
    font-size: 82.373px;
    font-weight: 300;
    transform: rotate(15deg);
}

/* Semi Bold */
.fish3 {
    top: 2160px;
    left: 300px;
    font-size: 82.373px;
    font-weight: 600;
    transform: rotate(-13.208deg);
}

/* Medium */
.fish4 {
    top: 1620px;
    left: 430px;
    font-size: 78.06px;
    font-weight: 500;
    transform: rotate(41.833deg);
}

/* Bold */
.fish5 {
    top: 1600px;
    left: 900px;
    font-size: 82.373px;
    font-weight: 500;
    transform: rotate(-68.861deg);
}

/* Extra Bold */
.fish6 {
    top: 2390px;
    left: 545px;
    font-size: 82.373px;
    font-weight: 800;
    transform: rotate(-71.416deg);
}

/* Regular */
.fish7 {
    top: 2310px;
    left: 900px;
    font-size: 82px;
    font-weight: 400;
    letter-spacing: -2.46px;
    transform: rotate(75deg);
}



#footer {
    position: relative;
    width: 1440px;
    margin: 20px auto 0;
    background: #D4ECFF;
    overflow: hidden;
}

.footer-canvas {
    position: relative;
    width: 100%;
    height: auto;
}

.footer-img {
    display: block;
    width: 100%;
    height: auto;
    margin: 20px auto 0;
}

.footer-labels {
    position: absolute;
    inset: 0;
    z-index: 3;
}

.lab {
    position: absolute;
    color: #02304A;
    font-family: 'Spectral', serif;
    line-height: 86%;
}

.aut,
.cur,
.grp {
    font-size: 23.502px;
    font-weight: 400;
    letter-spacing: -0.705px;
}


.name,
.cur-name,
.grp-num {
    font-size: 39.169px;
    font-weight: 400;
    letter-spacing: -1.175px;
}

.aut {
    top: 700px;
    left: 350px;
}

.name {
    top: 730px;
    left: 350px;
}

.cur {
    top: 907.5px;
    left: 230px;
}

.cur-name {
    top: 939.62px;
    left: 230px;
}

.grp {
    top: 880.5px;
    left: 870px;
}

.grp-num {
    top: 918.62px;
    left: 870px;
}
.hse_logo {
    position: absolute;
    top: 653px;
    left: 918px;
    height: auto;
    z-index: 2;
}